# DERIVING NEW VARIABLES

## Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

## Importing Data

In [5]:
# main folder
path = r'C:\Users\steve\Documents\11.24 Instacart Basket Analysis'

# ords_prods_merge
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

## Define Variables

Style Guide

In [54]:
# chart style
sns.set_style('darkgrid')

# colors
green = '#3CBC31'
light_green = '#7CC575'
red = '#D7BBB4'
gray = '#C1C7C9'

## Analysis

01. Flagging products by price

- low range: < 5
- mid-range: 5 - 15
- high-range: > 15

**User-defined Function Method**

In [16]:
# defines the function that labels rows based on their price
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row ['prices'] > 15:
        return 'High-range product'
    else: return 'Not enough data'

In [18]:
# applies & runs the func to the df by creating a row called price_range to store the label
df['price_range'] = df.apply(price_label, axis = 1)

In [19]:
# see the counts for each range
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product     21860860
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64

In [23]:
# check what the top price is
df['prices'].max()

25.0

**Loc() Pre-defined Function Method**

In [48]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [50]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [52]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [54]:
# counts per category
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64

In [65]:
df_pricesabove = df[df['prices']>14.8]
df_pricesabove

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc
398,2086598,6,1,5,18,NaN,38293,2,0,Ground Turkey Breast,35,12,19.6,both,High-range,High-range product
401,298250,6,2,4,16,6.0,38293,1,1,Ground Turkey Breast,35,12,19.6,both,High-range,High-range product
436,2402008,7,2,1,19,30.0,13198,14,0,85% Lean Ground Beef,122,12,23.2,both,High-range,High-range product
465,121053,7,3,0,18,30.0,13198,22,1,85% Lean Ground Beef,122,12,23.2,both,High-range,High-range product
480,1695742,7,4,2,10,9.0,13198,13,1,85% Lean Ground Beef,122,12,23.2,both,High-range,High-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32399461,3356245,206208,40,5,9,10.0,13877,11,1,Smoked Salmon,15,12,21.6,both,High-range,High-range product
32399474,3356245,206208,40,5,9,10.0,9339,24,1,Organic Chicken & Apple Sausage,106,12,21.1,both,High-range,High-range product
32399545,3292671,206208,45,2,11,3.0,7952,16,1,Chicken & Apple Breakfast Sausage,106,12,19.3,both,High-range,High-range product
32399585,1285346,206208,48,1,11,5.0,34282,8,0,Original Sandwich Bread,58,1,15.0,both,Mid-range product,Mid-range product
32399648,688306,206209,4,1,10,30.0,22713,9,0,Ground Chicken Breast,35,12,18.8,both,High-range,High-range product

In [71]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64

**For Loop Method**

We will create a new column that summarizes how busy each day of the week is.

In [122]:
# Find out on which day most orders take place
orders_per_day = df['orders_day_of_week'].value_counts(dropna = False)
orders_per_day

# 0 - Saturday
# 1 - Sunday
# 2 - Monday
# 3 - Tuesday
# 4 - Wednesday

orders_day_of_week
0    6203329
1    5659298
6    4495887
2    4213105
5    4205076
3    3839865
4    3783172
Name: count, dtype: int64

In [77]:
# creates an empty list in which to place the results from the for loops
result = []

for value in df["orders_day_of_week"]:
    # using 0 bc using the frequncy function above, found that 0 or Saturday, is the busiest day
    if value == 0:
        result.append("Busiest day")
    # 4 or Wednesday was found to be the least busy day
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [78]:
result[:5]

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy']

In [79]:
# combine result list with df by setting a new col equal to it
df['busiet_day'] = result

In [80]:
df['busiet_day'].value_counts(dropna = False)

busiet_day
Regularly busy    22413231
Busiest day        6203329
Least busy         3783172
Name: count, dtype: int64

# TASK

**Busiest Days Column** *stores the 2 busiest days and two slowest days*

In [83]:
# (QUESTION 2)
# Busiest days = 0 Saturday & 1 Sunday
# Slowest Days = 4 Wednesday & 3 Tuesday

# empty list to place results
top_least_days = []

for value in df["orders_day_of_week"]:
    if value == 0 or value == 1:
        top_least_days.append("Busiet days")
    elif value == 4 or value == 3:
        top_least_days.append("Least busy days")
    else:
        top_least_days.append("Regularly busy")

In [84]:
top_least_days[:5]

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy']

In [89]:
# combine resulting list with df
df['busiest_days'] = top_least_days

In [90]:
# (QUESTION 3)
# check values frequency of new col
df['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy     12914068
Busiet days        11862627
Least busy days     7623037
Name: count, dtype: int64

**Busiest Hours of Day Column** *stores busiest time periods od day*

In [92]:
# determine which col to use
df.head(1)

# will use order_hour_of_day

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc,busiet_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy

In [42]:
# detemine top and least hours of day
orders_per_hour = df['order_hour_of_day'].value_counts(dropna = False)
orders_per_hour

order_hour_of_day
10    2761333
11    2735694
14    2688728
15    2661718
13    2660570
12    2618104
16    2534744
9     2453842
17    2087273
8     1717863
18    1636226
19    1258076
20     976000
7      890923
21     795528
22     634159
23     402272
6      290450
0      218742
1      115683
5       87944
2       69360
4       53232
3       51268
Name: count, dtype: int64

- **Most orders**: 10 - 15
- **Fewest orders**: 0 - 5

In [95]:
# (QUESTION 4)
# label top 5 as 'most orders', bottom 5 as 'fewest orders', and remaining 'average orders'

hour_business = []

for value in df["order_hour_of_day"]:
    if value >= 0 and value <= 5:
        hour_business.append("Fewest orders")
    elif value >= 10 and value <= 15:
        hour_business.append("Most orders")
    else:
        hour_business.append("Average orders")

# combine results list to df
df['busiest_period_of_day'] = hour_business

In [98]:
# (QUESTION 5)
# show frquency of hour business categories
df['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       16126147
Average orders    15677356
Fewest orders       596229
Name: count, dtype: int64

In [105]:
df.shape

(32399732, 19)

## Export Data

In [108]:
# export new df created
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'labeled_ords_prods.pkl'))